<div id="<%= dom_id stock %>">
  <p>
    <strong>Size:</strong>
    <%= stock.size %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= stock.amount %>
  </p>

  <p>
    <strong>Product:</strong>
    <%= stock.product_id %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this stock", [:admin, stock.product, stock] %>
    <%= link_to "Edit this stock", edit_admin_product_stock_path(stock.product, stock) %>
    <hr>
  <% end %>

</div>
