<p style="color: green"><%= notice %></p>

<% content_for :title, "Categories" %>

<h1>Categories</h1>

<%= link_to "New category", new_admin_category_path %>

<div id="admin_categories">
  <table>
    <thead>
      <tr>
        <th>Image</th>
        <th>Name</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <% @admin_categories.each do |admin_category| %>
      <tr>
        <td>
          <%= admin_category.image.present? ? image_tag(admin_category.image, style: "width: 50px; height: 50px") : image_tag("https://via.placeholder.com/50") %>
        </td>
        <td>
          <%= link_to admin_category.name, edit_admin_category_path(admin_category) %>
        </td>
        <td>
          <%= admin_category.description %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>